    </div>
${__params.LETTERS_NAV || ''}
  <div id="footer">
    <a href="${__params.PUBLIC_ROOT+__params.RELATIVE_ROOT}resources/euskara-gorkarekin.pdf" target="_blank">PDF</a>
    <a href="${__params.PUBLIC_ROOT+__params.RELATIVE_ROOT}resources/euskara-gorkarekin.epub" target="_blank">EPUB</a>
    <a href="https://github.com/" target="_blank">GitHub</a>
    <a href="${__params.PUBLIC_ROOT+__params.RELATIVE_ROOT}" id="partekatu" rel="nofollow">Partekatu</a>
  </div>
  <script src="${__params.PUBLIC_ROOT+__params.RELATIVE_ROOT}resources/js/partekatu.js"></script>
  </body>
</html>