<form action="search" method="get">
<label>Bilatzailea: </label>
<br />
<input type="text" name="q" placeholder="hitz bat, esanahi bat, abesti bat…" value="${__params.q}"/>
<br />
<input type="submit" value="Bilatu" />
</form>
<br />
